body{
    margin:0;
    font:14px/1.5 Helvetica;
}

nav ul{
    list-style-type:none;
    padding-left:0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
가상클래스
상태 디자인
모든요소에 적용가능한 가상클래스
:hover
anchor 요소에 적용가능한 가상 클래스
:link, :visited, :hover, :active;   

가상요소
:before, :after, :first-line, :first-letter
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
nav a:link{
    text-decoration: none;
    color:red;
    padding-bottom:0.12em;
    border-bottom: 1px dotted;
}
nav a:visited{/* :를 쓰면 가상 클래스로써 태그안에 클래스 선언을 안해줘도 적용됨*/

    color:blue;
}
nav a:hover{
    
    /*밑줄 제거 하는 코드*/
    color: #82AEC9;
}


nav a:active{
    background:#ff0;
}

nav a.disabled{
    cursor:default;
    color:black;
}



.miki{ /* margin을 사용하면 전체가 이동 */
    position: relative;  /*나의 원래 위치에서 상대적으로 이동*/
    top: 90px;
    left: 190px;
    width: 200px;
    height: 200px;
    background: #010101 ;
    border-radius: 50%;
}

                /* 부모 요소들 중에 position을 갖고 있으면 부모 요소로 인식/ 가상요소 */
.miki::before, /*요소,요소 group 셀렉터. 콤마로 구분한다. 가상요소는 content가 반드시 필요   */
.miki::after {
    position: absolute; /* 부모 요소들 중에 position을 갖고 있으면 부모 요소로 인식 */
    width: 100px;
    height: 100px;
    top: -30px;
    background: #010101 ;
    border-radius: 50%;
    content: '';
}

.miki::before { 
    left: -40px;
}

.miki::after {
    right: -40px;
}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
가상요소
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

.dropcap{
    margin:0 20% 3em;/* margin:0이면 모든 방향이 top값을 상속받음
    0, 20%면 left값이 right값을 상속받음*/
    color: #817e7a;
    font:15px/1.8 "Times New Roman";
}
/*.dropcap .first-letter{
    float: left;
    font-size: 4em;
    color: #046380;
    line-height: 1; ->글자값의 배수


}*/

.dropcap::first-letter{
    float: left;
    font-size: 4em;
    color: blue;
    line-height: 1;
    margin-right: 0.3em;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
새롭게 추가된 디자인
::-> 가상요소
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

::selection{/*블록설정 할때 나타나는 효과*/
    background: #FC4A54;
    color: #FFF;
}

::selection{
    background:#FC4A54;
    color:#FFF;
}

.demo.first-line{
    margin-left:14%;
    margin-right: 14%;
}

.demo.first-line p {
    margin-top:0;
    margin-bottom: 0;
}
.demo.first-line p:first-line{
    background: rgba(255,255,0,0.7);
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
접근성고려
프린트 환경 사용자를 고려한 디자인(설계)
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

@media print{
    .ally-contents a::after{
        content: '('attr(href)')';
    }
}